@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  background-color: #AA6839;
  text-align: center;
  padding: 50px;
  font-size: 16;
}

.main{
	margin: auto;
	padding: 25px;
	max-width: 600px;
	background-color: #D28B58;
	border: 3px solid #824920;
	border-radius: 10px;
}

.pixel{
	text-indent: 25px;
	position: relative;
	padding: 5px;
 	text-align: left;
 	letter-spacing: .5em;
	border-bottom: 2px solid #824920;
}

.accent{
	height: 40px;
	width: 40px;
	top:0px;
	left:0px;
	position:absolute;
	border-left: 2px solid #824920;
	border-top:2px solid #824920;
}